.timer-bar {
  font-size: 30px;
  text-align: center;
  @media only screen and (max-width: 499px) {
    font-size: 12px;
  }
  @media only screen and (min-width: 500px) and (max-width: 800px) {
    font-size: 13px;
  }
}

.time-left {
  width: 30px;
}

.timer-info {
  padding-top: 50px;
  justify-content: center;
  @media only screen and (max-width: 499px) {
    font-size: 25px;
  }
  @media only screen and (min-width: 500px) and (max-width: 800px) {
    font-size: 30px;
  }
}

.numbers {
  font-size: 80px;
  color: rgb(225, 6, 0);
  @media only screen and (max-width: 499px) {
    font-size: 40px;
    padding: 0 !important;
  }
  @media only screen and (min-width: 500px) and (max-width: 800px) {
    font-size: 50px;
  }
}
