.title {
  font-size: 7rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 80px;
  @media only screen and (max-width: 420px) {
    font-size: 45px;
  }
}
.timer-logo-icon {
  font-size: 7rem;
  @media only screen and (max-width: 420px) {
    font-size: 45px;
  }
}
.race-name {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  @media only screen and (max-width: 420px) {
    font-size: 25px;
  }
}
