td {
  //border: 1px solid rgb(255, 255, 255);
  //border-bottom: 1px solid rgb(255, 255, 255);
  //border-collapse: collapse;
  text-align: center;
  height: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

th {
  height: 100px;
  font-size: 45px;
  padding-bottom: 30px;
  padding-top: 50px;
}

table {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  //text-align: center;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  //position: relative;
  transform: rotate(45deg);
  background: #fff;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 50px solid rgb(255, 6, 0);
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
