.header-wrapper {
  background-color: rgb(225, 6, 0);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  flex-direction: row;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.header-left-menu a {
  color: white !important;
  padding-left: 20px;
  @media screen and (max-width: 768px) {
    padding-left: 10px;
  }
}
.header-left-menu {
  @media screen and (max-width: 768px) {
    padding-left: 20px;
  }
}
.header-right-menu {
  padding-right: 20px;
  width: 264px;
  text-align: end;
  @media screen and (max-width: 768px) {
    width: auto;
  }
}

.timer-logo-header {
  background: rgb(225, 6, 0);
  font-size: 1.6rem;
}

.timer-icon {
  background: rgb(225, 6, 0);
  color: white;
  font-size: 60px;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
}

.menu-icon {
  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
}

.nav-menu {
  background: rgb(225, 6, 0);
  float: right;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 180px;
  justify-content: flex-end;
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;

    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    display: flex;
    background: rgb(225, 6, 0);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  ul {
    padding-inline-start: 0px;
  }
  li {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  li a {
    padding: 0 !important;
  }
}
