.results-table-header {
  font-size: 25px !important;
}
// .results-table-header th {
//   padding-right: 10px;
// }
.results-table-body {
  font-size: 14px;
}
.race-not-held {
  text-align: center;
  font-size: 40px;
  padding-top: 100px;
}
.warning-icon {
  color: rgb(225, 6, 0) !important;
  font-size: 80px;
}
