.results-table-header {
  font-size: 18px !important;
  @media only screen and (max-width: 420px) {
    font-size: 15px !important;
  }
}

.results-table-body {
  font-size: 14px;
  @media only screen and (max-width: 420px) {
    font-size: 10px;
  }
}

.race-not-held {
  text-align: center;
  font-size: 40px;
  padding-top: 100px;
  @media only screen and (max-width: 420px) {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 60px;
  }
}

.warning-icon {
  color: rgb(225, 6, 0) !important;
  font-size: 80px;
  @media only screen and (max-width: 420px) {
    font-size: 45px;
  }
}

.results-table-constructor-col {
  padding: 0 20px 0 20px;
  @media only screen and (max-width: 420px) {
    padding: 0 10px 0 0;
  }
}

.results-table {
  width: 100% !important;
  @media only screen and (max-width: 420px) {
    width: 80% !important;
  }
}
