.footer-wrapper {
  background-color: black;
  height: 11.5%;
}

.footer-text {
  color: rgba(255, 255, 255, 0.384);
  text-align: center;
  padding-top: 15px;
}
.footer-icon {
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}
