// html body {
//   width: 100vw;
//   height: 100vh;
// }
// html {
//   height: 100vh;
//   background: black;
// }

body {
  height: 100vh;
}

.root {
  height: 100%;
}

.ant-layout {
  height: 100%;
}

.ant-layout-content {
  background-color: black;
  height: 91.5%;
}

// .root {
//   width: 100vw;
//   height: 100vh;
// }

@font-face {
  font-family: "regularfont";
  src: url("regular.woff2") format("woff2");
}

* {
  margin: 0;
  font-family: "regularfont";
  color: white;
}

.content-wrapper,
.timer-logo {
  background: black;
}

.ant-row {
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

a {
  text-decoration: none;
}
